<div class="event-timeframe-afternoon">
  <div class="event-group">
    <div class="event-timeframe">
      14:00 - 14:30
    </div>

    <div class="event-title">
      How an average designer made a hobby game that's been globally featured by Apple & become Game of the day

      <div class="event-description">
        Opowiem od A-Z o 2 latach zmagań jak nauczyłem się kodzić w C#, zaprojektowałem, testowałem, releasowałem, promowałem Cotrio. Ciekawa historia o upartości ponad zdrowy rozsądek i efektach które przerosły moje najśmielsze marzenia.
      </div>

      <div class="event-presenter">
        Bartosz Białek
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      14:40 - 15:20
    </div>

    <div class="event-title">
      Channel vs Node.js Streams

      <div class="event-description">
        Through the presentation we gonna dive deep into the channels taken from Golang/Clojure and Node.js streams and talk about their Pros&Cons. Presentation is not only for Node.js developers, because the most of application is written in Clojure/script.
      </div>

      <div class="event-presenter">
        Karol Wójcik
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      15:30 - 15:50
    </div>

    <div class="event-title">
      Leadership in technology. What is it and why it's important?

      <div class="event-description">
        Software is developing rapidly on a global scale and impacting millions. As software developers, we have enormous power to shape the future world with technology but with this power comes great responsibility. During my presentation, I would like to talk about leadership in terms of everyday work, not a position you held. It's really crucial to have a certain attitude when we code and think about how each and every line of code may impact people using your software.
        During the presentation, I will show simple mistakes that may have a significant negative social impact such as training face recognition ML model with only Caucasian male photos or implementing super complicated UI resulting triggering Hawaii missile false alarm.
        As an outcome, I would like to inspire all people who work with software to look at our work with more global and social outlook and strive for excellence for better future.
      </div>

      <div class="event-presenter">
        Krzysztof Jackowski
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      16:00 - 16:50
    </div>

    <div class="event-title">
      Discussion panel

      <div class="event-presenter">
        Adam Nowak, Bartosz Pranczke
      </div>
    </div>
  </div>
</div>
