<div class="event-timeframe-morning">
  <div class="event-group">
    <div class="event-timeframe">
      09:50 - 10:10
    </div>

    <div class="event-title">
      The craftsman mindset: what Steve Jobs, Simon Sinek, and Malcolm Gladwell got wrong

      <div class="event-description">
        In this short presentation I'd like to explore the idea of craftsmanship - it's roots, values, and characteristics of a successful craftsmen. From painters to shoemakers to software engineers, all great craftsmen share similar mindset that enables them to achieve extraordinary results. Surprisingly, it's contrary to many modern thinkers and challenges poplar notions of passion (Steve Jobs) or starting with why (Simon Sinek). How any of us can apply it to their work to find fulfilment in any type of work and excel professionally? I'll share my experiences and examples from NG projects that prove, that there is a great value in applying the craftsman mindset to our daily work.
      </div>

      <div class="event-presenter">
        Krzysztof Przybylski
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      10:20 - 10:40
    </div>

    <div class="event-title">
      What I learned during creating my first Open Source library

      <div class="event-description">
        I always dreamed about creating my own Open-Source library. I always had a lot of excuses, too: I'm not experienced yet, I don't have enough time, I don't have an idea. I bet you are a little bit like me.
      </div>

      <div class="event-presenter">
        Maciej Myśliński
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      10:50 - 11:30
    </div>

    <div class="event-title">
      Deep Learning intuitions

      <div class="event-description">
        Deep Learning is an area of machine learning that has become superior to other techniques recently. Google uses Deep Learning to build self-driving cars, Spotify recommends songs based on Deep Neural Networks and Pinterest leverages those techniques for searching similar images. This is just a tip of iceberg. Knowledge of linear algebra, calculus and statistics is required to fully understand machine learning models. However, in this talk I'll explain what Deep Learning is and how it works without showing any mathematical equation. I'll show intuitions behind core ideas of Deep Learning that should improve your understanding of this subject.
      </div>

      <div class="event-presenter">
        Mateusz Opala
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      11:40 - 12:00
    </div>

    <div class="event-title">
      Overcoming the impostor syndrome

      <div class="event-description">
        Kiedy uczyłem się programowania, przez ponad rok bałem się wysłać jakiekolwiek CV – byłem pewien, że nigdzie się nie dostanę. Wstyd blokował mnie przed podjęciem pracy. Bałem się, że zostanę wyśmiany, że powiedzą mi że się totalnie do tego nie nadaję. CV wysłane do Netguru było jedynym jakie wysłałem. Jakiś czas później wstyd powrócił, kiedy oferowano mi awans na regulara – czy to już czas? Przecież ja nic nie potrafię. Na bank mnie wywalą po miesiącu. Potem podobnie było z vlogiem – marzyłem o zrobieniu czegoś takiego w sieci, a z drugiej strony byłem przekonany, że nie mam absolutnie nic ciekawego do zaoferowania. Więc skąd się wzięło tych kilka tysięcy ludzi na kanale?
      </div>

      <div class="event-presenter">
        Adam Romański
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      12:10 - 12:30
    </div>

    <div class="event-title">
      Sensible Developer

      <div class="event-description">
        The content of this presentation is a merge of one of Bartek Pranczke's presentations and my Rails meeting one from the past about all the things that are important for every developer, but are not really code-related. This presentation is about a non-tech approach to dev's duties, some soft skills, mental traps and how to develop and maintain a proper mindset, some tools and resources at the end. I really recommend this one!
      </div>

      <div class="event-presenter">
        Łukasz Ozimek
      </div>
    </div>
  </div>

  <div class="event-group">
    <div class="event-timeframe">
      12:40 - 13:00
    </div>

    <div class="event-title">
      End-to-end testing

      <div class="event-description">
        Importance of e2e tests and how to write them in modern stack.
      </div>

      <div class="event-presenter">
        Vivek Patel
      </div>
    </div>
  </div>
</div>
