<div class="event-group">
  <div class="event-timeframe">
    <%= @upcoming.pretty_time %>
  </div>

  <div class="event-title">
    <%= @upcoming.name %>
  </div>

  <div class="upcoming-event-description">
    <%= @upcoming.description %>
  </div>
</div>
