body {
  margin: 20px;
  background-color: lightgrey;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.schedule {
  margin: auto;
  font-size: 32px;
  min-width: 620px;
  height: 100%;
}

.event-place-hall {
  min-width: 620px;
  text-align: center;
  margin: 0 auto;
}

.event-place-main {
  float: left;
  width: 49%;
  display: inline-block;
}

.event-place-workshops {
  float: right;
  display: inline-block;
  width: 49%;

  .event-title {
    min-height: 250px;
  }
}

.morning, .afternoon {
  display: inline-block;
  width: 100%;
}

.event-group {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.event-title {
  font-weight: 900;
  margin: auto;
  max-width: 400px;
  padding: 40px;
}

.event-description {
  display: none;
  font-weight: 400;
}

.event-presenter {
  margin-top: 10px;
  font-weight: 400;
}

.event-place {
  margin-top: 10px;
  font-weight: 400;
}

.event-timeframe {
  letter-spacing: 3px;
  padding: 20px;
  background-color: #4CAF50;
  color: white;
}
