<div class="event-group">
  <div class="event-timeframe">
    14:00 - 16:00
  </div>

  <div class="event-title">
    Bringing Scrum back to Developers

    <div class="event-description">
      Agile and Software Craftsmanship go hand in hand. One tells us how to build the right product (process), the other tells us how to build the product in the right way (tech).
      In terms of the process the most popular framework is Scrum. Sadly, many Developers don’t see the value in Scrum. It’s considered a topic for Scrum Masters and Project Managers. It’s time to turn it around as Scrum was created by Developers.
      So how the Developers can make the best use of this framework to work on Software Craftsmanship? Which elements of Scrum are designed for improving tech quality?
      This workshop will guide you through Agile Manifesto and Scrum framework. With the knowledge about the process,  we’ll see how the elements of Scrum can be used in favour of Software Craftsmanship.
    </div>

    <div class="event-place">
      Workshop Room 1
    </div>

    <div class="event-presenter">
      Aleksandra Pyta
    </div>
  </div>
</div>

<div class="event-group">
  <div class="event-timeframe">
    14:00 - 17:00
  </div>

  <div class="event-title">
    Deep Learning with Python

    <div class="event-description">
      Deep Learning is arguably hottest branch of machine learning currently. In this workshop I will explain what Deep Learning really is and how it works. Latter, you will learn how to develop your own Deep Learning models in Python using very user friendly library called Keras.
    </div>

    <div class="event-place">
      Workshop Room 2
    </div>

    <div class="event-presenter">
      Mateusz Opala, Timo Rohner
    </div>
  </div>
</div>
