<div class="event-group">
  <div class="event-timeframe">
    10:30 - 13:00
  </div>

  <div class="event-title">
    From Idea, to Deployment - basic DevOps steps to make application up and running (along with server preparation)

    <div class="event-place">
      Workshop Room 1
    </div>

    <div class="event-presenter">
      Adam Bolinger
    </div>
  </div>

  <div class="event-description">
    Many of our developers are eager to learn, how we plan the server architecture, prepare servers and finally configure application for deployment.
    Those workshops would allow them to learn all the basic steps we take every single day.
    Steps:
    1. AWS architecture planning based on application requirements
    2. Terraform basics and configuration of server architecture, along with execution
    3. Ansible basic steps along with server propagation
    4. Application deployment configuration, along with initial deployment
    5. Automating deployment with help of CircleCI.

    Those workshops could be handled with help of more DevOps members, if there's a demand for it.
  </div>
</div>

<div class="event-group">
  <div class="event-timeframe">
    11:00 - 13:00
  </div>

  <div class="event-title">
    How to build something without development

    <div class="event-description">
      Most often mistake developers make is to try... to develop something instead of solving the problem. I would like to do workshops where we take our clients products, deconcstruct them and try to think how we could build them while limiting development.
    </div>

    <div class="event-place">
      Workshop Room 2
    </div>

    <div class="event-presenter">
      Radek Zaleski
    </div>
  </div>
</div>
